header,footer{
    text-align: center;
    background-color: #303030;
}
header{
    height: 60px;
}
h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width:100%;
}
div{
    text-align: center;
    background-color: rgb(154, 253, 196);

}
footer{
    width: ;
}
.class